{% extends 'back.html.twig' %}

{% block title %}Edit Formulaire{% endblock %}

{% block body %}
    <h1>Edit Formulaire</h1>

    {{ include('form/_form.html.twig', {'button_label': 'Update'}) }}

    
    
      <a href="{{ path('form_index') }}">back to list</a>
           
    

    {{ include('form/_delete_form.html.twig') }}
{% endblock %}
