

{% extends 'base.html.twig' %}


{% block title %}New Formulaire{% endblock %}

{% block body %}
    <ol>
    <h1>Create new Formulaire</h1>
    
    {{ include('form/_form.html.twig') }}
   
 
    
</ol>
   
{% endblock %}
